.cv-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    word-break: break-all;
  }
  .cv-header {
    text-align: center;
    font-style: bold;
  }
  .personal-data-container {
    /* align-self: center; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    padding: 10px;
    background-color: lightgrey;
  }
  
  .personal-data {
    margin-left: 20%;
  }
  .avatar {
    height: 150px;
    width: 178px;
  
    margin-left: auto;
    margin-right: 10%;
  }
  
  .main-data {
    margin: 30px;
  }
  
  .education-data {
    align-self: center;
  }
  
  table,
  th {
    text-align: left;
  }
  
  td {
    /* border-top: 1px solid; */
    /* border-bottom: 1px solid #333; */
    width: 150px;
  }
  
  td + td {
    height: 50px;
    width: auto;
  }
  
  p.italic {
    font-style: italic;
  }
  
  .additional-info {
    align-items: space-between;
  }
  
  li {
    padding: 5px;
  }
  