:root {
    --size-divisor: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    /*width: 100%; */
    overflow-x: hidden;
}

a {
    color: #333333;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
    /* border: none; */
}


.background-body {
    background-color: #FFFFFF;
    margin: 0;

}


.nav-header {
    height: calc(94px / var(--size-divisor)); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    color: #333333;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
/* .sticky {
    position: fixed;
    width: 100%
} */

.logo-container {
    width: calc(59px / var(--size-divisor));
    height: calc(42px / var(--size-divisor));
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* align-self: center; */
    justify-content: center;
    cursor: pointer;
    font-weight: 900;
    /* margin: 0; */
    margin-left: calc(151px / var(--size-divisor));
    /* padding-bottom: calc(26px / var(--size-divisor)); */
}

.zoo-text {
    /* width: 59px; */
    /* height: 42px; */
    text-align: left;
    font-size: calc(36px / var(--size-divisor));
    font-style: normal;
    line-height: calc(42px / var(--size-divisor));
    /* padding-top: -10px; */

}

.online-text {
    padding-left: 1px;
    text-align: left;
    font-size: calc(18px / var(--size-divisor));
    line-height: calc(11px / var(--size-divisor)); 
    letter-spacing: 0.08em;
    margin: 0;

}

.nav-list-header {
    align-self: center;
}

.nav-bar {}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    /* padding: 0 calc(41.5px / var(--size-divisor)); */
}

.map {
    padding: 0 calc(83px / var(--size-divisor));
}

.about {
    padding-right: calc(83px / var(--size-divisor));
}

.contact {
    /* width: calc(79px / var(--size-divisor));  */
    /* height: calc(19px / var(--size-divisor));  */
    /* width: fit-content; */
    padding-right: calc(82px / var(--size-divisor));
}

.contact-link {
    width: 100%;
}

.li-decor a {
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / var(--size-divisor));
    line-height: calc(19px / var(--size-divisor));
}


.li-decor a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
}

.nav-list .current {
    text-decoration: underline;
    font-weight: 900;
}

.nav-list .current:hover {
    text-decoration: underline;
    cursor: auto;
    font-weight: 900;
}

.label-mode-btn {
    align-self: center;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.mode-btn {
    width: calc(54px / var(--size-divisor));
    height: calc(30px / var(--size-divisor));
    background-color: #F2F2F2;
    border-style: none;
    margin-right: calc(150px / var(--size-divisor));
    border-radius: calc(190px / var(--size-divisor));
    isolation: isolate;
    position: relative;
    overflow: hidden;

}

.knob {
    width: calc(20px / var(--size-divisor));
    height: calc(20px / var(--size-divisor));
    margin-top: calc(5px / var(--size-divisor));
    margin-left: calc(6px / var(--size-divisor));
    border-radius: 50%;
    background-color: #FFFFFF; 
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    transform: translate3d(15%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state {
    display: none;
}

.toggle-state:checked~.knob {
    transform: translate3d(95%, 0, 0);
}

.map-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-h {
    width: 790px;
height: 56px;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;
}

.choose-txt {
    width: 790px;
height: 80px;

margin-top: 20px;

font-weight: normal;
font-size: 14px;
line-height: 1.3;
color: #4F4F4F;
}

.map-slider {
    width: 1199px;
height: 238px;
/* margin-left: 361px; */
display: flex;
align-items: center;
justify-content: space-around;
}


.slider-bar {
    width: calc(245px / var(--size-divisor));
    height: calc(49px / var(--size-divisor));
    margin-top: calc(20px / var(--size-divisor));
    margin-bottom:  calc(80px / var(--size-divisor));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: calc(1161px / var(--size-divisor));
    margin-right: calc(560px / var(--size-divisor)); */
}

input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.arrow:focus,
.arrow:hover {
    cursor: pointer;
}

.slider-output {
    /* width: 53px; */
    height: calc(28px / var(--size-divisor));
    /* left: 96px; */
    /* top: calc(20px / var(--size-divisor)); */
    font-weight: 900;
    font-size: calc(24px / var(--size-divisor));
    line-height: calc(28px / var(--size-divisor));
    color: #333333;
}

.slider-output-total {
    font-size: calc(14px / var(--size-divisor));
    line-height: calc(16px / var(--size-divisor));
    color: #BDBDBD;
}


.slider-input {
    width: calc(245px / var(--size-divisor));
    height: calc(10px / var(--size-divisor));
    left: 0px;
    margin-top: calc(11px / var(--size-divisor));
}


.slider-input::-webkit-slider-runnable-track {
    /* background: rgba(189, 189, 189, 0.57); */
    background: #BDBDBD;
    width: 100%;
    height: calc(5px / var(--size-divisor));
}

.slider-input::-webkit-slider-thumb {
    width: calc(30px / var(--size-divisor));
    height: calc(10px / var(--size-divisor));
    margin-left: calc(30px / var(--size-divisor));
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc(-3px / var(--size-divisor));
}

.map-frame {
    width: calc(1200px / var(--size-divisor));
    height: calc(498px / var(--size-divisor));
}

.watch-btn {
    padding: 46px 0 100px 0;
}

/* FOOTER*/ 

.footer-block {
    width: 100%;
    height: 751px;
    left: 0px;
    bottom: 0px;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.footer {

    display: flex;
    /* align-items: flex-start; */
    align-items: flex-start;
    justify-content: space-between;
    color: #FEFEFE;
}


.logo-container-footer {
    width: calc(59px / var(--size-divisor));
    height: calc(54px / var(--size-divisor));
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* align-self: center; */
    justify-content: center;
    cursor: pointer;
    font-weight: 900;
    margin: 100px 0 57px 0;

    /* padding-bottom: calc(26px / var(--size-divisor)); */
}

.footer-text {
    color: #FEFEFE;
}

.ctc-h {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
}

.center-h {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.contact-frame {
    margin-left: 5.83%;
    margin-right: 22.97%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 275px;
    margin-top: 33px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;

}

input,
textarea {
    border: none;
    -webkit-appearance: none;
    background: none;
    color: #E0E0E0;
}

input:focus,
textarea:focus,
label:focus {
    outline: none;
}

textarea,
a {
    cursor: pointer;
}

input {
    width: 383px;
    /* height: 10px; */
    padding: 0;

}

h3 {
    margin: 0;
}

.message {
    resize: none;
    background: none;
    margin: 0;

}

.message-fieldset {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    width: 383px;
    height: 115px;
    margin: 29px 0 15px;
}

.name,
.email {
    border-bottom: 1px solid #BDBDBD;
}

.email-label {
    margin-top: 20px;
}


.gdpr-label,
.message-legend {
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
}

.gdpr {
    margin-bottom: -2px;
    /* width: fit-content;
    height: fit-content; */
    background-color: none;
    width: 13px;
    height: 13px;

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 1px;

}

.gdpr:active,
.gdpr:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.gdpr:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}



.contact-button {
    /* margin-left: auto;
    margin-right: 15px; */
    margin: 20px 15px 0 auto;
}

.zoo-center-frame {
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}

.nav-list-footer {
    /* margin-left: auto; */
    height: fit-content;
    color: #FEFEFE;

}

ul {
    padding: 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-list li {
    list-style: none;
    /* padding: 0 calc(41.5px / var(--size-divisor)); */
}

.nav-list .current {
    text-decoration: underline;
    font-weight: 900;
}

.nav-list .current:hover {
    text-decoration: underline;
    cursor: auto;
    font-weight: 900;
}


.li-decor a {
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / var(--size-divisor));
    line-height: calc(19px / var(--size-divisor));
}

.li-footer a {
    color: #FEFEFE;
}

.li-decor a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
}

.map-footer {
    padding: 0 calc(73px / var(--size-divisor));
}

.about-footer {
    padding-right: calc(73px / var(--size-divisor));
}


.center-address {
    width: 190px;
    height: fit-content;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    color: #FEFEFE;
}

.center-ctc a {
    color: #FEFEFE;
}

.center-ctc {
    margin: 20px 0 20px 0;
}

.donate-footer {
    margin-right: 7.81%;
    margin-left: 5.83%;
    margin-top: 116px;
}

.rights {
    border-top: 0.5px solid #FEFEFE;
    align-self: center;
    /* width: 1620.04px; */
    width: 84.38%;
    /* height:133px; */
    height: 17.71%;
}

.rights-reserved {
    width: 278px;
    height: fit-content;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
}

.rights-reserved p {
    margin-top: 28px;
}

