:root {
    --size-divisor: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    /*width: 100%; */
    overflow-x: hidden;
}

a {
    color: #333333;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
    /* border: none; */
}


.background-body {
    background-color: #FFFFFF;
    margin: 0;

}


.nav-header {
    height: calc(94px / var(--size-divisor)); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    color: #333333;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
/* .sticky {
    position: fixed;
    width: 100%
} */

.logo-container {
    width: calc(59px / var(--size-divisor));
    height: calc(42px / var(--size-divisor));
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* align-self: center; */
    justify-content: center;
    cursor: pointer;
    font-weight: 900;
    /* margin: 0; */
    margin-left: calc(151px / var(--size-divisor));
    /* padding-bottom: calc(26px / var(--size-divisor)); */
}

.zoo-text {
    /* width: 59px; */
    /* height: 42px; */
    text-align: left;
    font-size: calc(36px / var(--size-divisor));
    font-style: normal;
    line-height: calc(42px / var(--size-divisor));
    /* padding-top: -10px; */

}

.online-text {
    padding-left: 1px;
    text-align: left;
    font-size: calc(18px / var(--size-divisor));
    line-height: calc(11px / var(--size-divisor)); 
    letter-spacing: 0.08em;
    margin: 0;

}

.nav-list-header {
    align-self: center;
}

.nav-bar {}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    /* padding: 0 calc(41.5px / var(--size-divisor)); */
}

.map {
    padding: 0 calc(83px / var(--size-divisor));
}

.about {
    padding-right: calc(83px / var(--size-divisor));
}

.contact {
    /* width: calc(79px / var(--size-divisor));  */
    /* height: calc(19px / var(--size-divisor));  */
    /* width: fit-content; */
    padding-right: calc(82px / var(--size-divisor));
}

.contact-link {
    width: 100%;
}

.li-decor a {
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / var(--size-divisor));
    line-height: calc(19px / var(--size-divisor));
}


.li-decor a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
}

.nav-list .current {
    text-decoration: underline;
    font-weight: 900;
}

.nav-list .current:hover {
    text-decoration: underline;
    cursor: auto;
    font-weight: 900;
}

.label-mode-btn {
    align-self: center;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.mode-btn {
    width: calc(54px / var(--size-divisor));
    height: calc(30px / var(--size-divisor));
    background-color: #F2F2F2;
    border-style: none;
    margin-right: calc(150px / var(--size-divisor));
    border-radius: calc(190px / var(--size-divisor));
    isolation: isolate;
    position: relative;
    overflow: hidden;

}

.knob {
    width: calc(20px / var(--size-divisor));
    height: calc(20px / var(--size-divisor));
    margin-top: calc(5px / var(--size-divisor));
    margin-left: calc(6px / var(--size-divisor));
    border-radius: 50%;
    background-color: #FFFFFF; 
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    transform: translate3d(15%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state {
    display: none;
}

.toggle-state:checked~.knob {
    transform: translate3d(95%, 0, 0);
}

.map-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-h {
    width: 790px;
height: 56px;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;
}

.choose-txt {
    width: 790px;
height: 80px;

margin-top: 20px;

font-weight: normal;
font-size: 14px;
line-height: 1.3;
color: #4F4F4F;
}

.map-slider {
    width: 1199px;
height: 238px;
/* margin-left: 361px; */
display: flex;
align-items: center;
justify-content: space-around;
}


.slider-bar {
    width: calc(245px / var(--size-divisor));
    height: calc(49px / var(--size-divisor));
    margin-top: calc(20px / var(--size-divisor));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: calc(1161px / var(--size-divisor));
    margin-right: calc(560px / var(--size-divisor)); */
}

input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.slider-output {
    /* width: 53px; */
    height: calc(28px / var(--size-divisor));
    /* left: 96px; */
    /* top: calc(20px / var(--size-divisor)); */
    font-weight: 900;
    font-size: calc(24px / var(--size-divisor));
    line-height: calc(28px / var(--size-divisor));
    color: #333333;
}

.slider-output-total {
    font-size: calc(14px / var(--size-divisor));
    line-height: calc(16px / var(--size-divisor));
    color: #BDBDBD;
}


.slider-input {
    width: calc(245px / var(--size-divisor));
    height: calc(10px / var(--size-divisor));
    left: 0px;
    margin-top: calc(11px / var(--size-divisor));
}


.slider-input::-webkit-slider-runnable-track {
    /* background: rgba(189, 189, 189, 0.57); */
    background: #BDBDBD;
    width: 100%;
    height: calc(5px / var(--size-divisor));
}

.slider-input::-webkit-slider-thumb {
    width: calc(30px / var(--size-divisor));
    height: calc(10px / var(--size-divisor));
    margin-left: calc(30px / var(--size-divisor));
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc(-3px / var(--size-divisor));
}

.map-frame {
    width: calc(1200px / var(--size-divisor));
    height: calc(498px / var(--size-divisor));
}
