:root {
    --size-divisor: 1;
}


.map-block {
    width: 100%;
    height: 904px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.map-h {
    width: 790px;
    height: 56px;

    margin: 100px 0 60px;

    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #333333;
}

.map-img {
    width: 1200px;
    height: 498px;
    background: url(../../assets/images/map/map.svg) center no-repeat no-repeat;
}

.map-watch-btn-big {
    width: 245px;
    height: 55px;
    margin-top: 35px;
}

.watch-logo-big:focus {
    border-style: none;
    outline: none;
}

.watch-logo-big {
    /* width: calc(32px / var(--size-divisor));
    height: calc(32px / var(--size-divisor)); */
    width: calc(245px / var(--size-divisor));
    height: calc(55px / var(--size-divisor));
    background: url("../../assets/icons/watchLogoBig.svg") no-repeat top left;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}

.pin {
    position: absolute;
    cursor: pointer;
    /* justify-content: center; */
}

.eagle-pin {
    margin: 65px 0 0 110px;
}

.alligator-pin {
    margin: 90px 0 0 230px;
}

.ape-pin {
    margin: 180px 0 0 560px;
}

.panda-pin {
    margin: 80px 0 0 878px;
}

.tooltip-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pin-details-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin-details {
    margin-left: 20px;
    text-align: left;
}

.pin-p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
}

.eagle-pin-tooltip {}

.eagle-pin .eagle-pin-tooltip {
    visibility: hidden;
    margin: -40px 0 0 -360px;
    width: 436px;
    height: 149px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    text-align: center;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.eagle-pin:hover .eagle-pin-tooltip {
    visibility: visible;
}

.pin-h {
    height: 21px; 
    /* left: 129px;
    top: 40px; */

    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.pin svg:hover {
    background-color: #EB5757;
}

.map-watch-btn {
    visibility: hidden;
    width: 115px;
    height: 29px;
    margin-top: 0;
}

.eagle-pin-tooltip:hover .map-watch-btn {
    visibility: visible;
}

.eagle-pin-tooltip:hover  {
    height: 192px;
}